<div class="content">
  <header class="header">
    <div class="content"><img class="logo" src="/assets/images/icons/tw-icon.svg">
      <button class="submit btn tweet">ログイン</button>
    </div>
  </header>
  <div class="form">
    <h1 class="title">Twitterにログイン</h1>
    <input type="text" class="input" placeholder="アカウント名">
  </div>
</div>
