<div class="content">
  <header class="header">
    <div class="content wide">
      <img class="logo" src="/assets/images/icons/tw-icon.svg" />
    </div>
    <div class="share">
      <div class="title">リンクをあなたのフォロワーに共有する</div>
        <textarea class="input"></textarea>
        <button class="submit btn primary">ツイート</button>
    </div>
  </header>
</div>
