<div class="lp">
  <div class="lp__content">
    <div class="lp__cell lp__cell-communication">
      <ul class="lp__items">
        <li class="lp__item">あなたの「好き」をフォローしよう。</li>
        <li class="lp__item">話題のトピックを追いかけましょう。</li>
        <li class="lp__item">TweetAppに参加しましょう。</li>
      </ul>
    </div>
    <div class="lp__cell">
      <div class="lp__control">
        <header class="lp__header"><img class="lp__logo" src="/assets/images/icons/tw-icon.svg">
        </header>
        <h1 class="lp__title">「いま」起きていることを見つけよう</h1>
        <div class="lp__form">
          <h2 class="lp__form-title">TweetAppをはじめましょう</h2>
          <a href="#" class="lp__form-btn">アカウント作成</a>
          <a class="lp__form-btn" href="#">ログイン</a>
        </div>
      </div>
    </div>
  </div>
</div>
