<div class="content">
  <header class="header">
    <div class="content wide">
      <img class="logo" src="/assets/images/icons/tw-icon.svg" />
      <button class="submit btn tweet">ツイート</button>
      <button class="submit btn default logout">ログアウト</button>
    </div>
  </header>
  <div class="hero">
    <div class="container"></div>
    <div class="app">
      <div class="avatar"></div>
    </div>
    <div class="nav">
      <ul class="items">
        <li class="item">
          <div class="label">ツイート</div>
          <div class="num">16,976</div>
        </li>
        <li class="item">
          <div class="label">フォロー</div>
          <div class="num">645</div>
        </li>
        <li class="item">
          <div class="label">フォロワー</div>
          <div class="num">1,329</div>
        </li>
        <li class="item">
          <div class="label">いいね</div>
          <div class="num">18,872</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="timeline">
    <div class="main">
      <div class="sidebar">
        <div class="profile">
          <h1 class="name">ユーザー名</h1>
          <h2 class="account">@account</h2>
          <div class="description">これは紹介文テキストこれは紹介文テキストこれは紹介文テキストこれは紹介文テキストこれは紹介文テキストこれは紹介文テキスト</div>
        </div>
      </div>
      <div class="content">
        <% (1..10).each do |i| %>
          <div class="tweet">
            <div class="content">
              <div class="avatar"><img class="img" src="https://pbs.twimg.com/profile_images/992619235850444800/NRV9dtxv_400x400.jpg" /></div>
              <div class="main">
                <div class="header">
                  <div class="item name">ユーザー名</div>
                  <div class="item account">@account</div>
                  <div class="item date">2017年10月9日</div>
                </div>
                <div class="text">本日全ての開発者の皆さんにAccount Activity APIを公開しました。なお、User StreamsとSite Streamsとともに、ダイレクトメッセージの使われていないエンドポイントは本日から3ヶ月後の2018年8月16日（米国時間）に廃止されるよう変更になります。詳細は以下ブログをご覧ください。</div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
