extends /layout/_application

block content
  .lp
    .lp__content
      .lp__cell.lp__cell-communication
        .lp__bird
          include /svg/_tw-icon
        ul.lp__items
          li.lp__item あなたの「好き」をフォローしよう。
          li.lp__item 話題のトピックを追いかけましょう。
          li.lp__item Twitterに参加しましょう。
      .lp__cell
        .lp__control
          header.lp__header
            img.lp__logo(src="/images/icons/tw-icon.svg")
            button.lp__btn ログイン
          h1.lp__title 「いま」起きていることを見つけよう
          .lp__form
            h2.lp__form-title Twitterをはじめましょう
            button.lp__form-btn アカウント作成
            button.lp__form-btn ログイン

    footer.lp__footer
      ul.lp__footer-items
        li.lp__footer-item ヘルプセンター
        li.lp__footer-item ブログ
        li.lp__footer-item ステータス
        li.lp__footer-item 採用情報
        li.lp__footer-item 規約
        li.lp__footer-item プライバシ・ポリシー
        li.lp__footer-item クッキー
        li.lp__footer-item 広告について
        li.lp__footer-item ブランド
        li.lp__footer-item アプリ連携
