extends /layout/_application

block content
  .content
    header.header
      .content
        img.logo(src="/images/icons/tw-icon.svg")
        button.submit.btn.primary 登録

    .form
      h1.title アカウントを作成
      input.input(type="text" placeholder="アカウント名")
      input.input(type="text" placeholder="名前")
      input.input(type="text" placeholder="紹介文")
      input.input(type="text" placeholder="アイコンURL")
      input.input(type="text" placeholder="カバーURL")
