extends /layout/_application

block content
  .content
    header.header
      .content
        img.logo(src="/images/icons/tw-icon.svg")
        button.submit.btn.primary ログイン
    .form
      h1.title TweetAppにログイン
      input.input(type="text" placeholder="アカウント名")
