extends /layout/_application

block content
  .content
    header.header
      .content.wide
        img.logo(src="/images/icons/tw-icon.svg")

      .share
        .title リンクをあなたのフォロワーに共有する
        textarea.input
        button.submit.btn.primary ツイート
